

.formText{
    width: 30%;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-style: solid ;
    border-color: rgba(0, 0, 0, .3);
}

h1{
    margin: 0 auto;
    font-size: 25px;
    width: 80%;
    
}

.btnTiempo {
    padding: 10px 30px;
    border-radius: 50px;
    border-style: none;
    margin-top: 40px;
    font-size: 20px;
    background: #fff;
    color:#59114D;
    cursor: pointer;
    transition: .1s ease;
}

.botonesTiempo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnTiempo:hover {
    opacity: .8;
    
}

.btnPregunta{
    padding: 10px 30px;
    border-radius: 50px;
    border-style: none;
    margin-top: 40px;
    font-size: 20px;
    background: #fff;
    color:#59114D;
    cursor: pointer;
    transition: .1s ease;
}

.btnPregunta:hover {
    opacity: .8;
    
}

.active{
    background: #59114D;
    color: #fff;
    transition: .1s ease;
}

.chart-container{
    width : 80%;
    margin: 30px auto;
}

.apartadoPreguntas{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.oculto {
    display: none;
}

.indicacionPregunta{
    margin: auto;
}

.seccionPreguntas{
    margin: 20px auto ;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregunta{
    margin: 0 auto;
}

.botonesPreguntas{
    margin:auto;
}



