
.formNuevoUsuario {
    display: flex;
    flex-direction: row;
    width: 35%;
    text-align: center;
    margin: auto auto;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.formText{
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 1% 15px;
    border-radius: 5px;
    border-style: solid ;
    border-color: rgba(0, 0, 0, .3);
}

.apellidos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apellidos .formText{
    width: 42%;
}

h1 {
    font-size: 25px;
    width: 50%;
    margin: auto auto;
    margin-top: 50px;
}

.enviarInfo {
    background: #679436;
    padding: 10px 30px;
    border-radius: 10px;
    border-style: none;
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
    
}

button:disabled{
    background-color: gray;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 34px;
    margin-left: 45%;
    margin-right: 45%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(209, 81, 81);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(230%);
    -ms-transform: translateX(230%);
    transform: translateX(230%);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }