.wrapper{
    padding: 25px
}

.wrapper .item{
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 10px 0px;
    background: #FFF;
    cursor: pointer;
    padding: 10px 5px;

}

.wrapper .item .nombreCat{
    padding: 5px 10px;
}

.wrapper .nuevaCat {
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 10px 0px;
    background: #59114D;
    color: #fff;
    

}

.btnEnviar {
    background: #679436;
    padding: 10px 30px;
    border-radius: 10px;
    border-style: none;
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
    
}

.btnEnviar:disabled {
    background: #ccc;
}

.textForm{
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .3);

}