.searchElement{
    width: 50%;
    margin: 10px 10px;
    padding: 0 15px;
    font-size: 15px;
    height: 30px;
    border-radius: 50px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .3);
}

.searchButton{
    display: inline-block;
    background: #59114D;
    margin: 10px 10px;
    padding: 0px 30px;
    width: auto;
    height: 34px;
    border-radius: 50px;
    border-style: none;
    
    font-size: 15px;
    color: #fff;
}

.search form{
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
    margin: auto auto;
    margin-top: 10px;
    padding-left: 10% ;
    
}

.search h1{
    color: #59114D;
    margin: 10px 10px;
}

.tablaPersonl{
    border: 1px solid #000;
}

.contenedorTablaServicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    width: 80%;
    border: 1px solid #59114D;
    border-top: 20px solid #59114D;
 }

 table td{
    padding-left: 5%;
 }

 .nombrePersonal {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border-right: .1px solid #59114D;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }

 .ver{
    background: #E98A15;
    padding: 5px 15px;
    border-radius: 10px;
    border-style: none; 
    font-size: 15px;
    color: #fff;
 }

 .btnAdd {
    background: #679436;
    padding: 10px 30px;
    border-radius: 10px;
    border-style: none;
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
    margin: 50px 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 5%;
    height: 30px;
    margin: 10px 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(209, 81, 81);
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }